@media screen and (max-width: 1100px) {
    html {
        font-size: 55%;
    }

    
}



/* Responsivo list-duvidas-suplmt */

@media screen and (max-width: 995px) {
    .pg-duvidas .list-duvidas-suplmt .faq-list {
        margin-top: 2.2rem;
    }

    .pg-duvidas .list-duvidas-suplmt .faq-list .faq-question,
    .pg-duvidas .list-duvidas-suplmt .faq-list .faq-answer {
        font-size: 1.5rem;
    }

    .pg-duvidas .list-duvidas-suplmt .faq-list .faq-question {
        padding: 16px 22px;
    }

    .pg-duvidas .list-duvidas-suplmt .faq-list .faq-question:after {
        background-size: 15px;
    }

    .pg-duvidas .list-duvidas-suplmt .faq-list .faq-answer > div  {
        padding: 21px;
    }
}